*.json
*.ipynb
*.html
*.png
*.pptx
*.zip
*.docx
*.mat
*.npz


.idea/
__pycache__/
.ipynb_checkpoints/
sim/
peacoq_results/
clock_demo_rahaf/

analysis_500mhz.py
correction_1ghz.py
bokeh_testing.py
Wire_16_40Mcps.py

